<footer>
    <div class="linha-laranja-topo"></div>

    <h2>Informações</h2>

    <a href="#">sobre nós</a>
    <a href="/sobre-restricoes-alimentares">sobre restrições alimentares</a>
    <a href="#">política de privacidade</a>
    <a href="#">termos de uso</a>

    <h2 class="margem-maior">Fale conosco</h2>

    <a href="#" class="endereco-digital">
        <img src="/imagem/email.png" alt="Email">
        <address>alimentipo@gmail.com</address>
    </a>

    <h2 class="margem-maior">Redes Sociais</h2>

    <a href="#" class="endereco-digital">
        <img src="/imagem/instagram.png" alt="Instagram">
        <address>@alimentipo</address>
    </a>

    <div class="linha-laranja-baixo"></div>
</footer>