<header>
    <div class="linha-laranja"></div>

    <div id="menu-hamburguer">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div id="menu-categoria">
        <h2>Categorias</h2>

        <a href="/produtos-sem-gluten" <%- data.page_name === "Produtos Sem Glúten" ? `class="ativo"` : "" %>>Sem Glúten</a>
        <a href="/produtos-veganos" <%- data.page_name === "Produtos Veganos" ? `class="ativo"` : "" %>>Vegano</a>
        <a href="/produtos-zero-acucar" <%- data.page_name === "Produtos Zero Açúcar" ? `class="ativo"` : "" %>>Zero Açúcar</a>
        <a href="/produtos-zero-lactose" <%- data.page_name === "Produtos Zero Lactose" ? `class="ativo"` : "" %>>Zero Lactose</a>
    </div>

    <a href="/" class="logo">
        <img src="/imagem/Logo_TCA_Atualizado.png" alt="Logo">
    </a>

    <div id="usuario-botao">
        <img src="/imagem/simbolo-perfil.png" alt="Usuario" width="50">
    </div>

    <div id="menu-usuario">
        <% if (data.userType === "comprador") { %>
            <a href="/perfil-comprador">Perfil</a>
        <% } %>

        <% if (data.userType === "vendedor") { %>
            <a href="/perfil-vendedor">Perfil</a>
        <% } %>
    </div>
</header>