<header>
    <div class="linha-laranja"></div>

    <div id="menu-hamburguer">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div id="menu-categoria">
        <h2>Categorias</h2>

        <a href="/produtos-sem-gluten">Sem Glúten</a>
        <a href="/produtos-veganos">Vegano</a>
        <a href="/produtos-zero-acucar">Zero Açúcar</a>
        <a href="/produtos-zero-lactose">Zero Lactose</a>
    </div>

    <a href="/" class="logo">
        <img src="/imagem/Logo_TCA_Atualizado.png" alt="Logo">
    </a>

    <div id="usuario-botao">
        <img src="/imagem/simbolo-perfil.png" alt="Usuario" width="50">
    </div>

    <div id="menu-usuario">
        <a href="/cadastro-comprador">Cadastre-se</a>

        <a href="/login">Entrar</a>
    </div>
</header>