#informacoes-perfil {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.imagem-perfil {
    display: flex;
    justify-content: center;
}

.texto-perfil {
    display: flex;
    flex-direction: column;
}

.texto-perfil h1 {
    font-weight: normal;
    font-size: 1.2rem;
}

.texto-perfil address {
    font-style: normal;
}

#lojas-favoritas {
    padding: 0 15px;
    margin-bottom: 40px;
}

#lojas-favoritas > h2 {
    font-size: 1.3rem;
    font-weight: normal;
    color: #729f46;
}

#lojas {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, min(100%, 175px));
    gap: 50px;
    margin: 40px 0;
}

a.loja {
    display: block;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
    width: 100%;
    max-width: 175px;
}

a.loja .favoritar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

a.loja > img {
    margin-bottom: 10px;
}

a.loja h2 {
    font-weight: 400;
    align-self: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}