main {
    padding: 0 15px;
}

#informacoes-perfil {
    margin-bottom: 40px;
}

#informacoes-perfil .loja-header {
    display: flex;
    margin-bottom: 20px;
}

#informacoes-perfil .loja-header .loja-imagem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

#informacoes-perfil .loja-header .loja-imagem img {
    margin-right: 10px;
    width: 96px;
    height: 96px;
    border-radius: 50%;
}

#informacoes-perfil .loja-header h3 {
    font-weight: normal;
    font-size: 1.2rem;
}

#informacaoes-perfil .loja-header address {
    font-style: normal;
}

#informacoes-perfil p {
    margin-bottom: 10px;
}

#informacoes-perfil p a {
    color: blue;
    text-decoration: underline;
}

#informacoes-perfil .links-perfil {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

#informacoes-perfil .links-perfil a {
    border: 1px solid #f59a23;
    border-radius: 10px;
    padding: 5px 15px;
    width: fit-content;
    background: white;
    color: #72a046;
    align-self: flex-end;
    cursor: pointer;
}

#meus-produtos h1 {
    font-size: 1.4rem;
    color: #f59a23;
    font-weight: normal;
    margin-bottom: 30px;
}

.categoria-produto > h2 {
    font-size: 1.2rem;
    font-weight: normal;
    color: #72a046;
    margin-bottom: 30px;
}

.lista-produtos {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, min(100%, 400px));
    gap: 30px;
    margin: 40px 0;
}

.produto-container {
    display: grid;
    grid-template-rows: auto 0fr;
    grid-template-columns: 100%;
    transition: grid-template-rows 350ms ease;
}

.produto-container.ativo {
    grid-template-rows: auto 1fr;
}

.produto-container .produto {
    position: relative;
    display: grid;
    grid-template-columns: calc(40% - 20px) calc(60% - 20px);
    gap: 20px;
    height: 140px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
    border-radius: 15px;
    padding: 10px;
    width: 100%;
}

.produto-container .produto .produto-imagem {
    display: flex;
    min-width: 100%;
}

.produto-container .produto .produto-imagem img {
    height: 120px;
    width: 100%;
}

.produto-container .produto .editar {
    position: absolute;
    top: 15px;
    right: 10px;
    padding: 10px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.produto-container .produto .promocao {
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
    background-color: #72a046;
    color: white;
    padding: 3px 15px;
}

.produto-container .produto .promocao p {
    font-weight: 600;
}

.produto-container .produto .editar div {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #797979;
    pointer-events: none;
}

.produto-container .produto .produto-texto {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.produto-container .produto .produto-texto > * {
    width: 100%;
}

.produto-container .produto .produto-texto h2 {
    font-weight: 400;
    align-self: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.produto-container .produto .produto-texto h3 {
    font-size: .9rem;
    font-weight: 300;
    margin-top: 10px;
}

.produto-container .produto .produto-texto p {
    font-size: 1.1rem;
    color: #f59a23;
    font-weight: bold;
    margin-top: auto;
}

.produto-container .produto-formulario {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 5px;
}

.produto-container .produto-formulario form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.produto-container .produto-formulario form .link-input {
    border: 1px solid #f59a23;
    border-radius: 5px;
    margin-bottom: 5px;
    padding-inline-start: 5px;
}

.produto-container .produto-formulario form textarea {
    width: 100%;
    border: none;
}

.produto-container .produto-formulario form .estoque {
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
}

.produto-container .produto-formulario form .desconto {
    margin-bottom: 40px;
}

.produto-container .produto-formulario form .desconto input {
    border: 1px solid #f59a23;
    width: 80px;
    border-radius: 5px;
    margin-left: 5px;
}

.produto-container .produto-formulario form .botoes-produto {
    display: flex;
    justify-content: space-between;
}

.produto-container .produto-formulario form .botoes-produto button {
    background: none;
    border: 1px solid #72a046;
    border-radius: 500px;
    padding: 0 15px;
    color: #72a046;
    cursor: pointer;
}