main {
    padding: 0 15px;
}

h1 {
    font-size: 1.4rem;
    font-weight: normal;
    color: #729f46;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.3rem;
    font-weight: normal;
    color: #729f46;
    margin-bottom: 20px;
}

p {
    margin-bottom: 30px;
}

b {
    font-weight: normal;
}

b.verde {
    color: #729f46;
}

b.laranja {
    color: #f59a23;
}

p.inicio-paragrafo::first-letter {
    margin-left: 10px;
}