<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include("../templates/head.ejs") %>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="/css/assinatura.css">
    <script src="js/perfil.js"></script>
    <title>Alimentipo - Assinatura</title>
</head>

<body>
    <%- include("../templates/header.ejs") %>
    <main>
        <section class="coluna">
            <h2>Plano 15 dias plus</h2>
            <div>
                <p id="dinheiro">R$ 24,99</p>
                <span>Tenha seus produtos divulgados na página de produtos em destaque durante 15 dias</spam>
            </div>
            <p>Data de vencimento XX/XX/XXXX </p>
            <input type="submit" value="Assinar/Cancelar" id="assin">
        </section>

        <h2>Mudança de Plano</h2>

        <section class="coluna">
            <h2>Plano mensal plus</h2>
            <div>
                <p id="dinheiro">R$ 49,99</p>
                <span>Tenha seus produtos divulgados na página de destaque durante 30 dia</spam>
            </div>
            <p>Data de vencimento XX/XX/XXXX </p>
            <input type="submit" value="Assinar/alter" id="assin">
        </section>

        <section class="coluna">
            <h2>Plano mensal</h2>
            <div>
                <p id="dinheiro">R$ 29,90</p>
                <span>Tenha seus produtos divulgados durante 1 mês</spam>
            </div>
            <p>Data de vencimento XX/XX/XXXX </p>
            <input type="submit" value="Assinar/alter" id="assin">
        </section>

        <section class="coluna">
            <h2>Plano mensal</h2>
            <div>
                <p id="dinheiro">R$ 322,90</p>
                <span>
                    Tenha seus produtos divulgados durante 1 ano</spam>
            </div>
            <p>Data de vencimento XX/XX/XXXX </p>
            <input type="submit" value="Assinar/alter" id="assin">
        </section>
    </main>
    <%- include("../templates/footer.ejs") %>
</body>

</html>