<!DOCTYPE html>
<html lang="pt-BR">
<!--pagina vai ser modificada-->

<head>
    <%- include("../templates/head.ejs") %>
    <link rel="stylesheet" href="/css/click_produto">
    <title>Alimentipo - Produto </title>
</head>

<body>
    <%- include("../templates/header.ejs") %>
    <main>
        <section>
            <img class="img" src="imagem/Home_queijo.png">
            <input type="checkbox">
            <!--ÍCONE DE FAVORITAR-->
            <h1>Produto</h1>
            <p>Restrição</p>
            <span>
                R$ 00,00 (Preço original)
            </span>
            <span>
                0% off (Porcentagem de desconto)
            </span>
            <span>
                R$ 00,00 (Preço com desconto aplicado)
            </span>
            <div class="link">
                <p>
                    <a id="link_do_produto">LInk do produto</a>
                </p>
            </div>

            <a id="produto">Descrição do produto</a>

        </section>
        <section-0pppp>
            <h2>Loja</h2>
            <section class="coluna-2">
                <img src="/imagem/boneco login.svg"><!-- Eu não coloquei o src certo aqui, mas isso ele deve ser trocado depois-->
                <p>
                    <a href="perfil_loja_para_comprador.html" class="nome_loja">
                        Nome da loja
                    </a>
                </p>
                <p class="nome_loja">E-mail</p>
            </section>
            <div class="nome_loja">
                <p>Nome vendedor</p>
                <p>Loja: Online / Física</p>
                <p>Telefone: +55 XX XXXXXXXXX </p>
                <p><a>Link do site</a></p>
                <adress>Endereço</adress>
                <p>Descrição</p>
            </div>
            </section>
            <section>
                <h3>Sugestões</h3>
                <div></div> <!-- SETINHA-->
                <div>
                    <img class="img" src="imagem/Home_queijo.png">
                    <input type="checkbox">
                    <!--ÍCONE DE FAVORITAR-->
                    <h4>
                        <a href="click_produto.html">
                            Produto
                        </a>
                    </h4>
                    <p>Restrição</p>
                    <span>
                        R$ 00,00 (Preço original)
                    </span>
                    <span>
                        0% off (Porcentagem de desconto)
                    </span>
                    <span>
                        R$ 00,00 (Preço com desconto aplicado)
                    </span>
                </div>
                <div>
                    <img class="img" src="imagem/Home_queijo.png">
                    <input type="checkbox">
                    <!--ÍCONE DE FAVORITAR-->
                    <h4>
                        <a href="click_produto.html">
                            Produto
                        </a>
                    </h4>
                    <p>Restrição</p>
                    <span>
                        R$ 00,00 (Preço original)
                    </span>
                    <span>
                        0% off (Porcentagem de desconto)
                    </span>
                    <span>
                        R$ 00,00 (Preço com desconto aplicado)
                    </span>
                </div>
                <div></div><!-- SETINHA-->
            </section>
    </main>
    <%- include("../templates/footer.ejs") %>
</body>

</html>