<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include("../templates/head.ejs") %>
    <link rel="stylesheet" href="/css/divulgar-produto.css">
    <title>Divulgar Produtos</title>
</head>

<body>
    <%- include("../templates/header.ejs") %>
    <main>
        <div class="outline">
            <div class="prod">
                <!--Css em desenvolvimento-->
                <a>
                    <input type="text" placeholder="Nome do produto">
                </a>

            </div>
            <h2> Foto </h2>

            <img src="/imagem/icone mais cadastro.png" alt="Adicionar foto" class="foto">
            <br>

            <a>
                <input type="text" placeholder="Preço">

            </a>
            <br>

            <a>
                <input type="text" placeholder="Link">

            </a>
            <br>

            <a>
                <input type="text" placeholder="Descrição">

            </a>

        </div>
        </div>
        <div>

            <h2> Estoque </h2>

            <input type="radio" name="fav_language" value="HTML">
            <label> Estoque </label>

            <input type="radio" name="fav_language" value="HTML">
            <label> Fora do Estoque</label>


            <h2> Restrições </h2>

            <input type="radio" name="fav_language" value="HTML">
            <label for="">Veganos</label>

            <input type="radio" name="fav_language" value="HTML">
            <label for="">Zero lactose</label>
            <br>

            <input type="radio" name="fav_language" value="HTML">
            <label for="">Zero açucar</label>

            <input type="radio" name="fav_language" value="HTML">
            <label for="">Sem glúten</label>

        </div>
        <div class="outline">
            <input type="text" placeholder="desconto">
        </div>
        <a>
            <button id="pub">
                Publicar

            </button>

        </a>
    </main>
    <%- include("../templates/footer.ejs") %>
</body>

</html>