<!DOCTYPE html>
<html lang="pt-BR">
<!--esta em desenvolvimento-->

<head>
    <%- include("../templates/head.ejs") %>
    <link rel="stylesheet" href="/css/expandir_loja_fav.css">
    <title>Alimentipo - Expandir lojas favoritas</title>
</head>

<body>
    <%- include("../templates/header.ejs") %>
    <main>
        <section>
            <img src="/imagem/boneco login.svg"><!-- Eu não coloquei o src certo aqui, mas isso ele deve ser trocado depois-->
            <span>Nome</span>
            <span>E-mail</span>
        </section>
        <section>
            <h1>Lojas favoritas</h1>
            <div>
                <img class="img" src="imagem/Home_queijo.png">
                <input type="checkbox">
                <!--ÍCONE DE FAVORITAR-->
                <h2>
                    <a href="perfil_loja_para_comprador.html">
                        Nome da loja
                    </a>
                </h2>
            </div>
            <div>
                <img class="img" src="imagem/Home_queijo.png">
                <input type="checkbox">
                <!--ÍCONE DE FAVORITAR-->
                <h2>
                    <a href="perfil_loja_para_comprador.html">
                        Nome da loja
                    </a>
                </h2>
            </div>
            <div>
                <input type="radio" name="paginas">
                <input type="radio" name="paginas">
                <input type="radio" name="paginas">
            </div>
        </section>
    </main>
    <%- include("../templates/footer.ejs") %>
</body>

</html>