<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include("../templates/head.ejs") %>
    <link rel="stylesheet" href="/css/">
    <script src="/js/"></script>
    <title><%- data.page_name %></title>
</head>
<body>
    <%- include("../templates/header-cadastrado.ejs") %>


    <%- include("../templates/footer.ejs") %>
</body>
</html>