<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include("../templates/head.ejs") %>
    <link rel="stylesheet" href="/css/perfil-comprador.css">
    <title>Alimentipo - Meu peril (comprador)</title>
</head>

<body>
    <%- include("../templates/header.ejs") %>
    <main>
        <section>
            <img src="/imagem/boneco login.svg"><!-- Eu não coloquei o src certo aqui, mas isso ele deve ser trocado depois-->
            <span>Nome</span>
            <span>E-mail</span>
            <span>Editar</span>
        </section>
        <section>
            <h2>Produtos favoritos</h2>
            <div>
                <div></div> <!-- SETINHA-->
                <div>
                    <img class="img" src="imagem/Home_queijo.png">
                    <input type="checkbox">
                    <!--ÍCONE DE FAVORITAR-->
                    <h3>
                        <a href="click_produto.html">Produto</a>
                    </h3>
                    <h4>Restrição</h4>
                    <span>
                        R$ 00,00 (Preço original)
                    </span>
                    <span>
                        0% off (Porcentagem de desconto)
                    </span>
                    <span>
                        R$ 00,00 (Preço com desconto aplicado)
                    </span>
                </div>
                <div>
                    <img class="img" src="imagem/Home_queijo.png">
                    <input type="checkbox">
                    <!--ÍCONE DE FAVORITAR-->
                    <h3>
                        <a href="click_produto.html">Produto</a>
                    </h3>
                    <h4>Restrição</h4>
                    <span>
                        R$ 00,00 (Preço original)
                    </span>
                    <span>
                        0% off (Porcentagem de desconto)
                    </span>
                    <span>
                        R$ 00,00 (Preço com desconto aplicado)
                    </span>
                </div>
                <div></div><!-- SETINHA-->
            </div>
            <div>
                <div></div> <!-- SETINHA-->
                <div>
                    <img class="img" src="imagem/Home_queijo.png">
                    <input type="checkbox">
                    <!--ÍCONE DE FAVORITAR-->
                    <h3>
                        <a href="click_produto.html">Produto</a>
                    </h3>
                    <h4>Restrição</h4>
                    <span>
                        R$ 00,00 (Preço original)
                    </span>
                    <span>
                        0% off (Porcentagem de desconto)
                    </span>
                    <span>
                        R$ 00,00 (Preço com desconto aplicado)
                    </span>
                </div>
                <div>
                    <img class="img" src="imagem/Home_queijo.png">
                    <input type="checkbox">
                    <!--ÍCONE DE FAVORITAR-->
                    <h3>
                        <a href="click_produto.html">Produto</a>
                    </h3>
                    <h4>Restrição</h4>
                    <span>
                        R$ 00,00 (Preço original)
                    </span>
                    <span>
                        0% off (Porcentagem de desconto)
                    </span>
                    <span>
                        R$ 00,00 (Preço com desconto aplicado)
                    </span>
                </div>
                <div></div><!-- SETINHA-->
            </div>
            <a href="expandir_produto_fav.html">Expandir</a>
        </section>
        <section>
            <h2>Lojas favoritas</h2>
            <div>
                <div></div> <!-- SETINHA-->
                <div>
                    <img class="img" src="imagem/Home_queijo.png">
                    <input type="checkbox">
                    <!--ÍCONE DE FAVORITAR-->
                    <h3>
                        <a href="perfil_loja_para_comprador.html">
                            Nome da loja
                        </a>
                    </h3>
                </div>
                <div>
                    <img class="img" src="imagem/Home_queijo.png">
                    <input type="checkbox">
                    <!--ÍCONE DE FAVORITAR-->
                    <h3>
                        <a href="perfil_loja_para_comprador.html">
                            Nome da loja
                        </a>
                    </h3>
                </div>
                <div></div><!-- SETINHA-->
            </div>
            <div>
                <div></div> <!-- SETINHA-->
                <div>
                    <img class="img" src="imagem/Home_queijo.png">
                    <input type="checkbox">
                    <!--ÍCONE DE FAVORITAR-->
                    <h3>
                        <a href="perfil_loja_para_comprador.html">
                            Nome da loja
                        </a>
                    </h3>
                </div>
                <div>
                    <img class="img" src="imagem/Home_queijo.png">
                    <input type="checkbox">
                    <!--ÍCONE DE FAVORITAR-->
                    <h3>
                        <a href="perfil_loja_para_comprador.html">
                            Nome da loja
                        </a>
                    </h3>
                </div>
                <div></div><!-- SETINHA-->
            </div>
            <a href="expandir_loja_fav.html">Expandir</a>
        </section>
    </main>
    <%- include("../templates/footer.ejs") %>
</body>

</html>