<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include("../templates/head.ejs") %>
    <link rel="stylesheet" href="/css/produtos-destacados.css">

    <title><%- data.page_name %></title>
</head>

<body>
    <%- include("../templates/header.ejs") %>

    <main>
        <section>
            <div class="searchbar">
                <img src="/imagem/pesquisa.png" alt="Pesquisa">
                <input type="search" id="searchbar">
            </div>

            <h1>Produtos em destaque</h1>

            <div id="produtos">
                <a href="/produto-especifico" class="produto">
                    <button class="favoritar">
                        <img src="/imagem/favoritar.png" alt="Favorito">
                    </button>

                    <img src="/imagem/molho-de-tomate.png" alt="Produto">

                    <h2>Molho de tomate</h2>
                    <h3>Sem Glúten</h3>

                    <p>R$ 8,99</p>
                </a>

                <a href="/produto-especifico" class="produto">
                    <button class="favoritar">
                        <img src="/imagem/favoritar.png" alt="Favorito">
                    </button>

                    <img src="/imagem/molho-de-tomate.png" alt="Produto">

                    <h2>Molho de tomate</h2>
                    <h3>Sem Glúten</h3>

                    <p>R$ 8,99</p>
                </a>

                <a href="/produto-especifico" class="produto">
                    <button class="favoritar">
                        <img src="/imagem/favoritar.png" alt="Favorito">
                    </button>

                    <img src="/imagem/molho-de-tomate.png" alt="Produto">

                    <h2>Molho de tomate</h2>
                    <h3>Sem Glúten</h3>

                    <p>R$ 8,99</p>
                </a>

                <a href="/produto-especifico" class="produto">
                    <button class="favoritar">
                        <img src="/imagem/favoritar.png" alt="Favorito">
                    </button>

                    <img src="/imagem/molho-de-tomate.png" alt="Produto">

                    <h2>Molho de tomate</h2>
                    <h3>Sem Glúten</h3>

                    <p>R$ 8,99</p>
                </a>

                <a href="/produto-especifico" class="produto">
                    <button class="favoritar">
                        <img src="/imagem/favoritar.png" alt="Favorito">
                    </button>

                    <img src="/imagem/molho-de-tomate.png" alt="Produto">

                    <h2>Molho de tomate</h2>
                    <h3>Sem Glúten</h3>

                    <p>R$ 8,99</p>
                </a>

                <a href="/produto-especifico" class="produto">
                    <button class="favoritar">
                        <img src="/imagem/favoritar.png" alt="Favorito">
                    </button>

                    <img src="/imagem/molho-de-tomate.png" alt="Produto">

                    <h2>Molho de tomate</h2>
                    <h3>Sem Glúten</h3>

                    <p>R$ 8,99</p>
                </a>

                <a href="/produto-especifico" class="produto">
                    <button class="favoritar">
                        <img src="/imagem/favoritar.png" alt="Favorito">
                    </button>

                    <img src="/imagem/molho-de-tomate.png" alt="Produto">

                    <h2>Molho de tomate</h2>
                    <h3>Sem Glúten</h3>

                    <p>R$ 8,99</p>
                </a>
            </div>

            <div class="paginacao">
                <a href="#" class="ativo">1</a>

                <a href="#">2</a>

                <a href="#">3</a>
            </div>
        </section>
    </main>

    <%- include("../templates/footer.ejs") %>

</body>

</html>