<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include("../templates/head.ejs") %>
    <link rel="stylesheet" href="/css/resultado-busca.css">

    <title><%- data.page_name %></title>
</head>

<body>
    <%- data.usuarioLogado ? include("../templates/header-cadastrado.ejs") : include("../templates/header.ejs") %>

    <main>
        <section>
            <div class="searchbar">
                <img src="/imagem/pesquisa.png" alt="Pesquisa">
                <input type="search" id="searchbar">
            </div>

            <h1>Zero Açúcar</h1>

            <div id="produtos">
                <div class="produto">
                    <div class="produto-imagem">
                        <button class="favoritar">
                            <img src="/imagem/favoritar.png" alt="Favorito">
                        </button>

                        <img src="/imagem/molho-de-tomate.png" alt="Molho de tomate">
                    </div>

                    <div class="produto-texto">
                        <h2>Molho de tomate</h2>

                        <h3>Zero Açúcar</h3>

                        <p>R$ 21,60</p>
                    </div>
                </div>

                <div class="produto">
                    <div class="produto-imagem">
                        <button class="favoritar">
                            <img src="/imagem/favoritar.png" alt="Favorito">
                        </button>

                        <img src="/imagem/molho-de-tomate.png" alt="Molho de tomate">
                    </div>

                    <div class="produto-texto">
                        <h2>Molho de tomate</h2>

                        <h3>Zero Açúcar</h3>

                        <p>R$ 21,60</p>
                    </div>
                </div>

                <div class="produto">
                    <div class="produto-imagem">
                        <button class="favoritar">
                            <img src="/imagem/favoritar.png" alt="Favorito">
                        </button>

                        <img src="/imagem/molho-de-tomate.png" alt="Molho de tomate">
                    </div>

                    <div class="produto-texto">
                        <h2>Molho de tomate</h2>

                        <h3>Zero Açúcar</h3>

                        <p>R$ 21,60</p>
                    </div>
                </div>

                <div class="produto">
                    <div class="produto-imagem">
                        <button class="favoritar">
                            <img src="/imagem/favoritar.png" alt="Favorito">
                        </button>

                        <img src="/imagem/molho-de-tomate.png" alt="Molho de tomate">
                    </div>

                    <div class="produto-texto">
                        <h2>Molho de tomate</h2>

                        <h3>Zero Açúcar</h3>

                        <p>R$ 21,60</p>
                    </div>
                </div>

                <div class="produto">
                    <div class="produto-imagem">
                        <button class="favoritar">
                            <img src="/imagem/favoritar.png" alt="Favorito">
                        </button>

                        <img src="/imagem/molho-de-tomate.png" alt="Molho de tomate">
                    </div>

                    <div class="produto-texto">
                        <h2>Molho de tomate</h2>

                        <h3>Zero Açúcar</h3>

                        <p>R$ 21,60</p>
                    </div>
                </div>

                <div class="produto">
                    <div class="produto-imagem">
                        <button class="favoritar">
                            <img src="/imagem/favoritar.png" alt="Favorito">
                        </button>

                        <img src="/imagem/molho-de-tomate.png" alt="Molho de tomate">
                    </div>

                    <div class="produto-texto">
                        <h2>Molho de tomate</h2>

                        <h3>Zero Açúcar</h3>

                        <p>R$ 21,60</p>
                    </div>
                </div>
            </div>

            <div class="paginacao">
                <a href="#" class="ativo">1</a>

                <a href="#">2</a>

                <a href="#">3</a>
            </div>
        </section>
    </main>

    <%- include("../templates/footer.ejs") %>

</body>

</html>