<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include("../templates/head.ejs") %>
    <link rel="stylesheet" href="/css/resultado-busca.css">
    <title><%- data.page_name %></title>
</head>

<body>
    <%- include("../templates/header.ejs") %>
    <main>
        <div class="pesquisa">
            <img src="/imagem/lupa.svg" alt="lupa de pesquisa" class="lupa">
            <input type="text" class="pesquisar">
        </div>


        <h1>Zero Açucar</h1>

        <div class="itens">
            <img src="/imagem/Home_lemonade.png" alt="lemonade">
            <h2>lemonade</h2>
            <h3>Zero Açucar</h3>
            <h4> R$ 21,60</h4>
        </div>
        <br>
        <div class="itens">
            <img src="/imagem/suco uva r.png" alt="Suco de Uva">
            <h2>Suco de Uva</h2>
            <h3>Zero Açucar</h3>
            <h4> R$ 8,00</h4>
        </div>
        <br>
        <div class="itens">
            <img src="/imagem/gummy j r.png" alt="Gummy juicy">
            <h2>Gummy juicy</h2>
            <h3>Zero Açucar</h3>
            <h4> R$ 15,29</h4>
        </div>
        <br>
        <div class="itens">
            <img src="/imagem/GUMMY M R.png" alt="Gummy Mix">
            <h2>Gummy Mix</h2>
            <h3>Zero Açucar</h3>
            <h4> R$ 16,29</h4>
        </div>
        <br>
        <div class="itens">
            <img src="/imagem/Geleia manga r.png" alt="Geleia de Manga">
            <h2>Geleia de Manga</h2>
            <h3>Zero Açucar</h3>
            <h4> R$ 5,30</h4>
        </div>
    </main>

    <%- include("../templates/footer.ejs") %>

</body>

</html>