<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include("../templates/head.ejs") %>
    <link rel="stylesheet" href="/css/termos-politicas.css">
    <title><%- data.page_name %></title>
</head>

<body>
    <%- data.usuarioLogado ? include("../templates/header-cadastrado.ejs") : include("../templates/header.ejs") %>

    <main>
        <section id="termos-condicoes">
            <h1>Termos e Condições de Uso</h1>

            <p>Termos e condições gerais de uso do site Alimentipo <br>
                Os serviços do https://www.alimentipo.com são fornecidos pela pessoa jurídica com a seguinte Razão Social: Alimentipo, com nome fantasia Alimentipo, inscrito no CNPJ sob o nº XX. XXX. XXX/XXXX-XX, titular da propriedade intelectual sobre software, website, conteúdos e demais ativos relacionados à plataforma Alimentipo.</p>

            <h2>1. Do objeto</h2>

            <p>A plataforma visa licenciar o uso de seu software, website, e demais ativos de propriedade intelectual, fornecendo ferramentas para auxiliar e dinamizar o dia a dia dos seus usuários. <br>
                A plataforma caracteriza-se pela prestação do seguinte serviço: disponibilização de uma plataforma para lojas online divulgarem seus produtos que atendam à alguma restrição alimentar e para pessoas com restrições alimentares encontrarem esses produtos. <br>
                A plataforma realiza a venda à distância por meio eletrônico do seguinte serviço: venda de opções de assinatura para lojas online divulgarem seus produtos.</p>

            <h2>2. Da aceitação</h2>

            <p>O presente Termo estabelece obrigações contratadas de livre e espontânea vontade, por tempo indeterminado, entre a plataforma e as pessoas físicas ou jurídicas, usuárias do site. <br>
                Ao utilizar a plataforma o usuário aceita integralmente as presentes normas e compromete-se a observá-las, sob o risco de aplicação das penalidades cabíveis. <br>
                A aceitação do presente instrumento é imprescindível para o acesso e para a utilização de quaisquer serviços fornecidos pela empresa. Caso não concorde com as disposições deste instrumento, o usuário não deve utilizá-los.</p>

            <h2>3. Do acesso dos usuários</h2>

            <p>Serão utilizadas todas as soluções técnicas à disposição do responsável pela plataforma para permitir o acesso ao serviço 24 (vinte e quatro) horas por dia, 7 (sete) dias por semana. No entanto, a navegação na plataforma ou em alguma de suas páginas poderá ser interrompida, limitada ou suspensa para atualizações, modificações ou qualquer ação necessária ao seu bom funcionamento.</p>

            <h2>4. Do cadastro</h2>

            <p>O acesso às funcionalidades da plataforma exigirá a realização de um cadastro prévio e, a depender dos serviços ou produtos escolhidos, o pagamento de determinado valor. <br>
                Ao se cadastrar o usuário deverá informar dados completos, recentes e válidos, sendo de sua exclusiva responsabilidade manter referidos dados atualizados, bem como o usuário se compromete com a veracidade dos dados fornecidos. <br>
                O usuário se compromete a não informar seus dados cadastrais e/ou de acesso à plataforma a terceiros, responsabilizando-se integralmente pelo uso que deles seja feito. <br>
                Menores de 18 anos e aqueles que não possuírem plena capacidade civil deverão obter previamente o consentimento expresso de seus responsáveis legais para utilização da plataforma e dos serviços ou produtos, sendo de responsabilidade exclusiva dos mesmos o eventual acesso por menores de idade e por aqueles que não possuem plena capacidade civil sem a prévia autorização. <br>
                Mediante a realização do cadastro o usuário declara e garante expressamente ser plenamente capaz, podendo exercer e usufruir livremente dos serviços e produtos. <br>
                O usuário deverá fornecer um endereço de e-mail válido, através do qual o site realizará todas as comunicações necessárias. <br>
                Após a confirmação do cadastro, o usuário possuirá um login e uma senha pessoal, a qual assegura ao usuário o acesso individual à mesma. Desta forma, compete ao usuário exclusivamente a manutenção de referida senha de maneira confidencial e segura, evitando o acesso indevido às informações pessoais. <br>
                Toda e qualquer atividade realizada com o uso da senha será de responsabilidade do usuário, que deverá informar prontamente a plataforma em caso de uso indevido da respectiva senha. <br>
                Não será permitido ceder, vender, alugar ou transferir, de qualquer forma, a conta, que é pessoal e intransferível. <br>
                Caberá ao usuário assegurar que o seu equipamento seja compatível com as características técnicas que viabilize a utilização da plataforma e dos serviços ou produtos. <br>
                O usuário poderá, a qualquer tempo, requerer o cancelamento de seu cadastro junto ao site Alimentipo. O seu descadastramento será realizado o mais rapidamente possível, desde que não sejam verificados débitos em aberto. <br>
                O usuário, ao aceitar os Termos e Política de Privacidade, autoriza expressamente a plataforma a coletar, usar, armazenar, tratar, ceder ou utilizar as informações derivadas do uso dos serviços, do site e quaisquer plataformas, incluindo todas as informações preenchidas pelo usuário no momento em que realizar ou atualizar seu cadastro, além de outras expressamente descritas na Política de Privacidade que deverá ser autorizada pelo usuário.</p>

            <h2>5. Dos serviços</h2>

            <p>A plataforma poderá disponibilizar para o usuário um conjunto específico de funcionalidades e ferramentas para otimizar o uso dos serviços. <br>
                Na plataforma os serviços oferecidos estão descritos e apresentados com o maior grau de exatidão, contendo informações sobre suas características e preço, entre outros dados. <br>
                Antes de finalizar a compra sobre determinado serviço, o usuário deverá se informar sobre as suas especificações.</p>

            <h2>6. Dos preços</h2>

            <p>A plataforma se reserva no direito de reajustar unilateralmente, a qualquer tempo, os valores dos serviços sem consulta ou anuência prévia do usuário. <br>
                Os valores aplicados são aqueles que estão em vigor no momento do pedido. <br>
                Na contratação de determinado serviço, a plataforma poderá solicitar as informações financeiras do usuário. Ao inserir referidos dados o usuário concorda que sejam cobrados, de acordo com a forma de pagamento que venha a ser escolhida, os preços então vigentes e informados quando da contratação. Referidos dados financeiros poderão ser armazenados para facilitar acessos e contratações futuras.</p>

            <h2>7. Do cancelamento</h2>

            <p>
                O usuário poderá cancelar a contratação dos serviços de acordo com os termos que forem definidos no momento de sua contratação. Ainda, o usuário também poderá cancelar os serviços em até 7 (sete) dias após a contratação, mediante contato com o alimentipo@gmail.com, de acordo com o Código de Defesa do Consumidor (Lei no. 8.078/90). <br>
                O serviço poderá ser cancelado por:
            <ol>
                <li><b class="laranja">a</b>) parte do usuário: nessas condições os serviços somente cessarão quando concluído o ciclo vigente ao tempo do cancelamento;</li>
                <li><b class="laranja">b</b>) violação dos Termos de Uso: os serviços serão cessados imediatamente.</li>
            </ol>
            </p>

            <h2>8. Do suporte</h2>

            <p>Em caso de qualquer dúvida, sugestão ou problema com a utilização da plataforma, o usuário poderá entrar em contato com o suporte, através do e-mail alimentipo@gmail.com.</p>

            <h2>9. Das responsabilidades</h2>

            <h3>É de responsabilidade do usuário:</h3>

            <ol>
                <li><b class="laranja">a</b>) defeitos ou vícios técnicos originados no próprio sistema do usuário;</li>
                <li><b class="laranja">b</b>) a correta utilização da plataforma e dos serviços oferecidos, prezando pela boa convivência, pelo respeito e cordialidade entre os usuários;</li>
                <li><b class="laranja">c</b>) pelo cumprimento e respeito ao conjunto de regras disposto nesse Termo de Condições Geral de Uso, na respectiva Política de Privacidade e na legislação nacional e internacional;</li>
                <li><b class="laranja">d</b>) pela proteção aos dados de acesso à sua conta/perfil (login e senha).</li>
            </ol>

            <h3>É de responsabilidade da plataforma Alimentipo:</h3>

            <ol>
                <li><b class="laranja">a</b>) indicar as características do serviço;</li>
                <li><b class="laranja">b</b>) os defeitos encontrados no serviço oferecido desde que lhe tenha dado causa;</li>
                <li><b class="laranja">c</b>) as informações que foram por ele divulgadas, sendo que as informações divulgadas por usuários são de inteira responsabilidade dos próprios usuários;</li>
                <li><b class="laranja">d</b>) os conteúdos ou atividades ilícitas praticadas através da sua plataforma. <br>
                    A plataforma não se responsabiliza por links externos contidos em seu sistema que possam redirecionar o usuário à ambiente externo a sua rede. <br>
                    Não poderão ser incluídos links externos ou páginas com quaisquer informações ilícitas, violentas, polêmicas, pornográficas, xenofóbicas, discriminatórias ou ofensivas.</li>
            </ol>

            <h2>10. Dos direitos autorais</h2>

            <p>O presente Termo de Uso concede aos usuários uma licença não exclusiva, não transferível e não sublicenciável, para acessar e fazer uso da plataforma e dos serviços e produtos por ela disponibilizados. <br>
                A estrutura do site ou aplicativo, as marcas, logotipos, nomes comerciais, layouts, gráficos e design de interface, imagens, ilustrações, fotografias, apresentações, conteúdos escritos, programas de computador, banco de dados, arquivos de transmissão e quaisquer outras informações e direitos de propriedade intelectual da razão social Alimentipo, observados os termos da Lei da Propriedade Industrial (Lei nº 9.279/96), Lei de Direitos Autorais (Lei nº 9.610/98) e Lei do Software (Lei nº 9.609/98), estão devidamente reservados. <br>
                Este Termos de Uso não cede ou transfere ao usuário qualquer direito, de modo que o acesso não gera qualquer direito de propriedade intelectual ao usuário, exceto pela licença limitada ora concedida. <br>
                O uso da plataforma pelo usuário é pessoal, individual e intransferível, sendo vedado qualquer uso não autorizado, comercial ou não-comercial. Tais usos consistirão em violação dos direitos de propriedade intelectual da razão social Alimentipo, puníveis nos termos da legislação aplicável.</p>

            <h2>11. Das sanções</h2>

            <p>Sem prejuízo das demais medidas legais cabíveis, a razão social Alimentipo poderá, a qualquer momento, advertir, suspender ou cancelar a conta do usuário: <br>
            <ol>
                <li><b class="laranja">a</b>) que violar qualquer dispositivo do presente Termo;</li>
                <li><b class="laranja">b</b>) que descumprir os seus deveres de usuário;</li>
                <li><b class="laranja">c</b>) que tiver qualquer comportamento fraudulento, doloso ou que ofenda a terceiros.</li>
            </ol>
            </p>

            <h2>12. Da recisão</h2>

            <p>A não observância das obrigações pactuadas neste Termo de Uso ou da legislação aplicável poderá, sem prévio aviso, ensejar a imediata rescisão unilateral por parte da razão social Alimentipo e o bloqueio de todos os serviços prestados ao usuário.</p>

            <h2>13. Das alterações</h2>

            <p>Os itens descritos no presente instrumento poderão sofrer alterações, unilateralmente e a qualquer tempo, por parte de Alimentipo, para adequar ou modificar os serviços, bem como para atender novas exigências legais. As alterações serão veiculadas pelo site Alimentipo e o usuário poderá optar por aceitar o novo conteúdo ou por cancelar o uso dos serviços, caso seja assinante de algum serviço. <br>
                Os serviços oferecidos podem, a qualquer tempo e unilateralmente, e sem qualquer aviso prévio, ser deixados de fornecer, alterados em suas características, bem como restringido para o uso ou acesso.</p>

            <h2>14. Da política de privacidade</h2>

            <p>Além do presente Termo, o usuário deverá consentir com as disposições contidas na respectiva Política de Privacidade a ser apresentada a todos os interessados dentro da interface da plataforma.</p>

            <h2>15. Do foro</h2>

            <p>Para a solução de controvérsias decorrentes do presente instrumento será aplicado integralmente o Direito brasileiro. <br>
                Os eventuais litígios deverão ser apresentados no foro da comarca em que se encontra a sede da empresa.</p>
        </section>

        <section class="glossario-termos-tecnicos">
            <h2>Glossário de termos técnicos</h2>

            <ul>
                <li><b class="laranja">Pessoa jurídica</b>: entidade (empresa, sociedade, organização etc.) formada por uma ou mais Pessoas Físicas, com propósitos e finalidades específicos, e direitos e deveres próprios.</li>
                <li><b class="laranja">Razão Social</b>: nome sob o qual uma pessoa jurídica se individualiza e oficialmente exerce suas atividades.</li>
                <li><b class="laranja">Nome fantasia</b>: designação popular de título de estabelecimento utilizada por uma instituição, sob o qual ela se torna conhecida do público. <br>
                    Propriedade intelectual: reconhecimento de direitos sobre criações intelectuais nas mais diversas áreas do conhecimento - artes, literatura, ciência e tecnologia.</li>
                <li><b class="laranja">Usuário</b>: pessoa que faz uso do computador, de programas, sistemas ou serviços informáticos.</li>
                <li><b class="laranja">Software</b>: conjunto de programas, processos, regras e, eventualmente, documentação, relativos ao funcionamento de um conjunto de tratamento de informação.</li>
                <li><b class="laranja">Capacidade civil</b>: aptidão que a pessoa tem de adquirir e exercer direitos.</li>
                <li><b class="laranja">Anuência</b>: aprovação, consentimento.</li>
                <li><b class="laranja">Sublicenciável</b>: algo capaz de ser licenciado a uma terceira parte.</li>
                <li><b class="laranja">Layout</b>: modo de distribuição e arranjo dos elementos gráficos num determinado espaço ou superfície.</li>
                <li><b class="laranja">Design de interface</b>: desenvolvimento de computadores, aplicações, máquinas, dispositivos de comunicação móveis, softwares e sítios web com o foco na experiência dos usuários e interação.</li>
                <li><b class="laranja">Rescisão</b>: anulação de contrato.</li>
                <li><b class="laranja">Ensejar</b>: ser a causa de; possibilitar, justificar.</li>
                <li><b class="laranja">Foro</b>: tribunal judicial.</li>
                <li><b class="laranja">Litígio</b>: conflito de interesses judiciais estabelecido por meio da contestação da demanda, ação ou processo judicial.</li>
                <li><b class="laranja">Comarca</b>: circunscrição judiciária, sob a jurisdição de um ou mais juízes.</li>
            </ul>
        </section>

        <section id="politicas-privacidade">
            <h2>Política de privacidade</h2>

            <h3>SEÇÃO 1 - INFORMAÇÕES GERAIS</h3>

            <p>A presente Política de Privacidade contém informações sobre coleta, uso, armazenamento, tratamento e proteção dos dados pessoais dos usuários e visitantes do site https://www.alimentipo.com , com a finalidade de demonstrar absoluta transparência quanto ao assunto e esclarecer a todos interessados sobre os tipos de dados que são coletados, os motivos da coleta e a forma como os usuários podem gerenciar ou excluir as suas informações pessoais. <br>
                Esta Política de Privacidade aplica-se a todos os usuários e visitantes do site https://www.alimentipo.com e integra os Termos e Condições Gerais de Uso do site Alimentipo, devidamente inscrita no CNPJ sob o nº XX. XXX. XXX/XXXX-XX, situado em Endereço Fictício, doravante nominada Alimentipo. <br>
                O presente documento foi elaborado em conformidade com a Lei Geral de Proteção de Dados Pessoais (Lei 13.709/18), o Marco Civil da Internet (Lei 12.965/14) (e o Regulamento da UE n. 2016/6790). Ainda, o documento poderá ser atualizado em decorrência de eventual atualização normativa, razão pela qual se convida o usuário a consultar periodicamente esta seção.</p>

            <h3>SEÇÃO 2 - COMO RECOLHEMOS OS DADOS PESSOAIS DO USUÁRIO E DO VISITANTE?</h3>

            <p>Os dados pessoais do usuário e visitante são recolhidos pela plataforma da seguinte forma: <br>
                Quando o usuário cria uma conta/perfil na plataforma Alimentipo: esses dados são os dados de identificação básicos, como e-mail e nome completo. A partir deles, podemos identificar o usuário e o visitante, além de garantir uma maior segurança e bem-estar às suas necessidades. Ficam cientes os usuários Vendedores de que seu perfil na plataforma estará acessível a todos demais usuários e visitantes da plataforma Alimentipo.</p>

            <h3>SEÇÃO 3 - QUAIS DADOS PESSOAIS RECOLHEMOS SOBRE O USUÁRIO E VISITANTE?</h3>

            <p>Os dados pessoais do usuário e visitante recolhidos são os seguintes: <br>
                Dados para a criação da conta/perfil na plataforma Alimentipo: nome, e-mail, senha, no caso de Comprador, nome de usuário e foto de perfil, e no caso de Vendedor, nome da loja, logo da loja, se a loja é online e física ou apenas online, nome completo do proprietário, CPF do proprietário, data de nascimento do proprietário, CNPJ, link do site da loja, descrição da loja, telefone e endereço. <br>
                Dados para otimização da navegação: lojas e produtos favoritos, assinaturas já feitas. <br>
                Dados para concretizar transações: dados referentes ao pagamento e transações, tais como, número do cartão de crédito e outras informações sobre o cartão, além dos pagamentos efetuados. <br>
                Dados relacionados a contratos: diante da formalização do contrato de compra e venda ou de prestação de serviços entre a plataforma e o usuário e visitante poderão ser coletados e armazenados dados relativos à execução contratual, inclusive as comunicações realizadas entre a empresa e o usuário.</p>

            <h3>SEÇÃO 4 - PARA QUE FINALIDADES UTILIZAMOS OS DADOS PESSOAIS DO USUÁRIO E VISITANTE?</h3>

            <p>Os dados pessoais do usuário e do visitante coletados e armazenados pela plataforma Alimentipo tem por finalidade: <br>
                Bem-estar do usuário e visitante: aprimorar o produto e/ou serviço oferecido, facilitar, agilizar e cumprir os compromissos estabelecidos entre o usuário e a empresa, melhorar a experiência dos usuários e fornecer funcionalidades específicas a depender das características básicas do usuário. <br>
                Melhorias da plataforma: compreender como o usuário utiliza os serviços da plataforma, para ajudar no desenvolvimento de negócios e técnicas. <br>
                Dados de cadastro: para permitir o acesso do usuário a determinados conteúdos da plataforma, exclusivo para usuários cadastrados. <br>
                Dados de contrato: conferir às partes segurança jurídica e facilitar a conclusão do negócio. <br>
                O tratamento de dados pessoais para finalidades não previstas nesta Política de Privacidade somente ocorrerá mediante comunicação prévia ao usuário, de modo que os direitos e obrigações aqui previstos permanecem aplicáveis.</p>

            <h3>SEÇÃO 5 - POR QUANTO TEMPO OS DADOS PESSOAIS FICAM ARMAZENADOS?</h3>

            <p>Os dados pessoais do usuário e visitante são armazenados pela plataforma durante o período necessário para a prestação do serviço ou o cumprimento das finalidades previstas no presente documento, conforme o disposto no inciso I do artigo 15 da Lei 13.709/18. <br>
                Os dados podem ser removidos ou anonimizados a pedido do usuário, excetuando os casos em que a lei oferecer outro tratamento. <br>
                Ainda, os dados pessoais dos usuários apenas podem ser conservados após o término de seu tratamento nas seguintes hipóteses previstas no artigo 16 da referida lei:
            <ol>
                <li>I - cumprimento de obrigação legal ou regulatória pelo controlador;</li>
                <li>II - estudo por órgão de pesquisa, garantida, sempre que possível, a anonimização dos dados pessoais;</li>
                <li>III - transferência a terceiro, desde que respeitados os requisitos de tratamento de dados dispostos nesta Lei;</li>
                <li>IV - uso exclusivo do controlador, vedado seu acesso por terceiro, e desde que anonimizados os dados.</li>
            </ol>
            </p>

            <h3>SEÇÃO 6 - SEGURANÇA DOS DADOS PESSOAIS ARMAZENADOS</h3>

            <p>A plataforma se compromete a aplicar as medidas técnicas e organizativas aptas a proteger os dados pessoais de acessos não autorizados e de situações de destruição, perda, alteração, comunicação ou difusão de tais dados. <br>
                Os dados relativos a cartões de crédito são criptografados usando a tecnologia "secure socket layer" (SSL) que garante a transmissão de dados de forma segura e confidencial, de modo que a transmissão dos dados entre o servidor e o usuário ocorre de maneira cifrada e encriptada. <br>
                A plataforma não se exime de responsabilidade por culpa exclusiva de terceiros como em caso de ataque de hackers ou crackers, ou culpa exclusiva do usuário, como no caso em que ele mesmo transfere seus dados a terceiros. O site se compromete a comunicar o usuário em caso de alguma violação de segurança dos seus dados pessoais. <br>
                Os dados pessoais armazenados são tratados com confidencialidade, dentro dos limites legais. No entanto, podemos divulgar suas informações pessoais caso sejamos obrigados pela lei para fazê-lo ou se você violar nossos Termos de Serviço.</p>

            <h3>SEÇÃO 7 - COMPARTILHAMENTO DOS DADOS</h3>

            <p>O compartilhamento de dados do usuário ocorre apenas com os dados referentes a publicações realizadas pelo próprio usuário, tais ações são compartilhadas publicamente com os outros usuários. <br>
                Dados do perfil do usuário Vendedor são compartilhados publicamente em sistemas de busca e dentro da plataforma.</p>

            <h3>SEÇÃO 8 - OS DADOS PESSOAIS ARMAZENADOS SERÃO TRANSFERIDOS A TERCEIROS?</h3>

            <p>Com relação aos fornecedores de serviços terceirizados como processadores de transação de pagamento, informamos que cada qual tem sua própria política de privacidade. Desse modo, recomendamos a leitura das suas políticas de privacidade para compreensão de quais informações pessoais serão usadas por esses fornecedores. <br>
                Os fornecedores podem ser localizados ou possuir instalações localizadas em países diferentes. Nessas condições, os dados pessoais transferidos podem se sujeitar às leis de jurisdições nas quais o fornecedor de serviço ou suas instalações estão localizados. <br>
                Ao acessar nossos serviços e prover suas informações, você está consentindo o processamento, transferência e armazenamento desta informação em outros países. <br>
                Ao ser redirecionado para um aplicativo ou site de terceiros, você não será mais regido por essa Política de Privacidade ou pelos Termos de Serviço da nossa plataforma. Não somos responsáveis pelas práticas de privacidade de outros sites e lhe incentivamos a ler as declarações de privacidade deles.</p>

            <h3>SEÇÃO 9 - COOKIES OU DADOS DE NAVEGAÇÃO</h3>

            <p>Os cookies referem-se a arquivos de texto enviados pela plataforma ao computador do usuário e visitante e que nele ficam armazenados, com informações relacionadas à navegação no site. Tais informações são relacionadas aos dados de acesso como local e horário de acesso e são armazenadas pelo navegador do usuário e visitante para que o servidor da plataforma possa lê-las posteriormente a fim de personalizar os serviços da plataforma. <br>
                O usuário e o visitante da plataforma Alimentipo manifesta conhecer e aceitar que pode ser utilizado um sistema de coleta de dados de navegação mediante à utilização de cookies. <br>
                O cookie persistente permanece no disco rígido do usuário e visitante depois que o navegador é fechado e será usado pelo navegador em visitas subsequentes ao site. Os cookies persistentes podem ser removidos seguindo as instruções do seu navegador. Já o cookie de sessão é temporário e desaparece depois que o navegador é fechado. É possível redefinir seu navegador da web para recusar todos os cookies, porém alguns recursos da plataforma podem não funcionar corretamente se a capacidade de aceitar cookies estiver desabilitada.
            </p>

            <h3>SEÇÃO 10 - CONSENTIMENTO</h3>

            <p>Ao utilizar os serviços e fornecer as informações pessoais na plataforma, o usuário está consentindo com a presente Política de Privacidade. <br>
                O usuário, ao cadastrar-se, manifesta conhecer e pode exercitar seus direitos de cancelar seu cadastro, acessar e atualizar seus dados pessoais e garante a veracidade das informações por ele disponibilizadas. <br>
                O usuário tem direito de retirar o seu consentimento a qualquer tempo, para tanto deve entrar em contato através do e-mail alimentipo@gmail.com ou por correio enviado ao seguinte endereço: Endereço Fictício.</p>

            <h3>SEÇÃO 11 - ALTERAÇÕES PARA ESSA POLÍTICA DE PRIVACIDADE</h3>

            <p>Reservamos o direito de modificar essa Política de Privacidade a qualquer momento, então, é recomendável que o usuário e visitante revise-a com frequência. <br>
                As alterações e esclarecimentos vão surtir efeito imediatamente após sua publicação na plataforma. Quando realizadas alterações os usuários serão notificados. Ao utilizar o serviço ou fornecer informações pessoais após eventuais modificações, o usuário e visitante demonstra sua concordância com as novas normas. <br>
                Diante da fusão ou venda da plataforma à outra empresa os dados dos usuários podem ser transferidos para os novos proprietários para que a permanência dos serviços oferecidos.</p>

            <h3>SEÇÃO 12 - JURISDIÇÃO PARA RESOLUÇÃO DE CONFLITOS</h3>

            <p>Para a solução de controvérsias decorrentes do presente instrumento será aplicado integralmente o Direito brasileiro.
                Os eventuais litígios deverão ser apresentados no foro da comarca em que se encontra a sede da empresa.</p>
        </section>

        <section class="glossario-termos-tecnicos">
            <h2>Glossário de termos técnicos</h2>

            <ol>
                <li><b class="laranja">Doravante</b>: a partir deste momento; de agora em diante.</li>
                <li><b class="laranja">Criptografado</b>: texto transformado em código.</li>
                <li><b class="laranja">Servidor</b>: computador usado numa rede para proporcionar algum tipo de serviço (como acesso a arquivos ou a periféricos compartilhados) aos demais componentes da rede.</li>
                <li><b class="laranja">Usuário</b>: pessoa que faz uso do computador, de programas, sistemas ou serviços informáticos.</li>
                <li><b class="laranja">Usuário</b>: pessoa que faz uso do computador, de programas, sistemas ou serviços informáticos.</li>
                <li><b class="laranja">Cifrado</b>: texto escrito em cifra; texto escrito em código.</li>
                <li><b class="laranja">Encriptada</b>: que foi transformado em código.</li>
                <li><b class="laranja">Hackers</b>: pessoa com grandes conhecimentos de informática e programação, que se dedica a encontrar falhas em ou a acessar ilegalmente sistemas e redes computacionais.</li>
                <li><b class="laranja">Crackers</b>: pessoa com grandes conhecimentos de informática e programação, especializado em penetrar sistemas de segurança ou decodificar programas ou códigos informáticos.</li>
                <li><b class="laranja">Sistemas de busca</b>: mecanismos responsáveis por mostrar os resultados de pesquisa em um campo de busca de um site, loja virtual ou aplicativo.</li>
                <li><b class="laranja">Navegador</b>: programa que permite acessar a páginas e a sites da Internet e aos recursos neles disponibilizados.</li>
                <li><b class="laranja">Litígio</b>: conflito de interesses judiciais estabelecido por meio da contestação da demanda, ação ou processo judicial.</li>
                <li><b class="laranja">Foro</b>: tribunal judicial.</li>
                <li><b class="laranja">Comarca</b>: circunscrição judiciária, sob a jurisdição de um ou mais juízes.</li>
            </ol>
        </section>
    </main>

    <%- include("../templates/footer.ejs") %>

</body>

</html>